@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var item in Model.Customers)
{
    if (item.Id == ViewBag.Id)
    {
        <p>@item.Name</p>
    }
}
